<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <bean class="com.baizhi.webService.FirPageWebServiceImpl" id="firPageWebService"/>

    <!--创建fastJsonProvider-->
    <bean id="fastJsonProvider" class="com.alibaba.fastjson.support.jaxrs.FastJsonProvider"/>
    <!--rest 发布 restFul的webService
        address="" 代表restFul 的服务总地址
        serviceClass 服务类接口的权限定名
        访问restFul的地址 http://localhost:8989/项目名/web.xml配置/address/类上的path/方法的path/参数-->


    <jaxrs:server address="/fir" serviceClass="com.baizhi.webService.FirPageWebService">
        <jaxrs:serviceBeans>
            <ref bean="firPageWebService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="fastJsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
</beans>