<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--安全管理器-->
        <property name="securityManager" ref="defaultWebSecurityManager"/>
        <!-- 配置系统中受限资源列表   系统中那些资源是受限的
             anon  ======== 匿名访问不需要认证
             authc ======== 必须认证访问
             logout ======= 注销fileter
         -->
        <!--认证页面-->
        <property name="loginUrl" value="/back/page/login.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                /back/easyui/** = anon
                /back/editor/** = anon
                /back/img/** = anon
                /back/text/** = anon
                /back/page/login.jsp = anon
                /admin/logout = logout
                /admin/login = anon
                /** = authc
            </value>
        </property>
    </bean>
    <!--创建安全管理器-->
    <bean id="defaultWebSecurityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="customerRealm"/>
            </list>
        </property>
    </bean>

    <!--创建自定义realm-->
    <bean id="customerRealm" class="com.baizhi.shiro.realm.CustomerRealm">
        <!--注入凭证匹配器-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <!--创建凭证匹配器-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1024"/>
    </bean>

</beans>